.App-logo {
  -webkit-animation: App-logo-spin infinite 20s linear;
  animation: App-logo-spin infinite 20s linear;
}
.listUser{
  display: flex
}
.nav-tabs a {
  color: #fff
}
.nav-tabs .dropdown-item:hover {
  background-color: #007bff!important;
}
.nav-tabs .dropdown-item a:hover {
  color: #495057; 
}
.nav-tabs .dropdown-toggle .nav-link, .nav-tabs .dropdown-toggle, .nav-tabs .dropdown-menu, .nav-tabs .dropdown-menu.show{
  background-color: #007bff!important;
  border-bottom-color: #fff
}
.backgroundDark {
  background-color: #343a40!important;
}
.marginLink{
  margin-top: 4px;
}
.imgUser {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.imgSection{
  float: right;
}
.imgStudy{
  width: 125px;
}
h1.imgStudy{
  font-size: 8rem;
}
.imgStudy i{
  position: absolute;
  top: 0;
}
.imgMedic{
  width: 100px;
  border-radius: 50%;
}
.footerTitle {
    letter-spacing: .15em;
    color: hsla(0,0%,100%,.5);
}
.cover {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.active {
    color: #61DAFB!important
}
.section{
  background-size: cover!important;
  position: relative!important;
  z-index: 0;
}
.section::before{
  content: "";
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: -webkit-linear-gradient(left, #0B1523, #0b1523 70%, rgba(11,21,35,0));
  background-image: linear-gradient(to right, #0B1523, #0b1523 70%, rgba(11,21,35,0));
}
.grid{
  max-width: 128px;
  display: grid;
  margin: 0 auto;
  text-align: center;
  font-size: 8rem;
}
.bodySection{
  z-index: 1;
  color: #fff;
}
.footerTop{
  background-color: #212529;
  color: #868e96;
}
.linkFooter{
  display: inline;
  color: #7b8b8e;
}
.linkFooter:hover{
  color: #61DAFB!important;
  text-decoration: none;
}
.ease:hover{
    -webkit-transition: all .3s ease-in;
    transition: all .2s ease-in;
}
.footerTop i{
  color: #212529;
  width: 1.25em;
}
.footerTop img {
  color: #343a40;
  width: 50px; 
}
.footerActive{
  color: #61DAFB!important;
}
.register{
  background-color: #17a2b8;
  color: #fff;
}
.time{
  background-color: #4374e0;
  color: #fff;
}
.homeText{
  text-align: left;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@media (max-width: 767px) {
  .App-logo {
    height: 60px;
  }
  .homeText{
    text-align: center;
  }
  .imgSection{
    float: unset;
    display: grid;
    margin: 0 auto;
  }
  .imgStudy i{
    position: relative;
  }
}

@media (max-width: 400px) {
  .App-logo {
    height: 40px;
  }
  .homeText{
    text-align: center;
  }
  .imgSection{
    float: unset;
    display: grid;
    margin: 0 auto;
  }
  .imgStudy i{
    position: relative;
  }
}